// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout

layer-rule {
    match namespace="waybar"
}

overview {
  backdrop-color "#1E1E26"
  workspace-shadow {
      off
  }
  zoom 0.50
}

layer-rule {
    match namespace="^hyprpaper$"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 3
    clip-to-geometry true
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 6

    // NOTE: Enable this to let the overview background show up
    background-color "transparent"

    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // preset-window-heights { }

    default-column-width { proportion 0.5; }

    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // off

        width 1


        active-color "#C8C093"

        inactive-color "#2A2A37"

        urgent-color "#FF9E3B"

        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // off

        width 1
        active-color "#C8C093"
        inactive-color "#4C4E57"

        urgent-color "#FF9E3B"

        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        on

        // draw-behind-window true


        // Softness controls the shadow blur radius.
        softness 20

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

