// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

output "eDP-1" {
  mode "1920x1080"
  position  x=0 y=0
  scale 1.0
}

output "HDMI-A-2" {
  mode "1920x1080"
  position  x=0 y=-1080
  scale 1.0
}
