/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181616e0;
    background-alt: #2D4F67FF;
    foreground:     #C5C9C5FF;
    selected:       #C5C9C5FF;
    active:         #8A9A7BFF;
    urgent:         #E46876FF;
    focused:        #C5C9C5FF;
}
