/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191919e0;
    background-alt: #404040FF;
    foreground:     #C9C9C9FF;
    selected:       #C9C9C9FF;
    active:         #8BAE68FF;
    urgent:         #DE6E7CFF;
    focused:        #BBBBBBFF;
}
