*{
  font-size: 1em;
}

window{
  border-radius: 4px;
  border: 1px solid #C8C093;
  background-color: #1F1F28;
}

#input {
  outline: none;
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #2A2A37;
  background-color: #1F1F28;
  color: #DCD7BA;
}

#input:focus {
  box-shadow: none;
  border-bottom: 1px solid #C8C093;
}

#inner-box {
  background-color: #1F1F28;
}

#outer-box {
  margin: 5px;
}

#text {
  color: #DCD7BA;
}

#entry {
  margin: 5px;
}

#entry:selected {
  background-color: #2A2A37;
}

#text:selected {

}

#scroll {
}

#img {
}

