window {
  font-family:
    Lato,
    JetBrainsMono Nerd Font;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #c8c093;
  background-color: rgba(31, 31, 40, 0.8);
}

#input {
  outline: none;
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #2a2a37;
  background-color: transparent;
  color: #dcd7ba;
}

#input:focus {
  box-shadow: none;
  border-bottom: 1px solid #c8c093;
  background-color: transparent;
}

#inner-box {
  background-color: transparent;
}

#outer-box {
  margin: 5px;
}

#text {
  color: #dcd7ba;
}

#entry {
  margin: 5px;
}

#entry:selected {
  background-color: rgba(42, 42, 55, 0.8);
}

#text:selected {
}

#scroll {
}

#img {
  margin: 2px;
  padding-left: 4px;
  border-radius: 4px;
}
