include "config/autostart.kdl"

prefer-no-csd

cursor {
    xcursor-theme "Adwaita"
}

hotkey-overlay {
    skip-at-startup
}


overview {
  backdrop-color "#1E1E26"
  workspace-shadow {
      off
  }
  zoom 0.50
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "config/input.kdl"
include "config/output.kdl"
include "config/layout.kdl"
include "config/window-rules.kdl"
include "config/animations.kdl"
include "config/binds.kdl"
