* {
  border: none;
  border-radius: 0;
  font-family:
    Geist,
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 11px;
  font-weight: 500;
}

#workspaces,
#clock,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-media,
#custom-appmenu,
#mode,
#submap,
#custom-wofi-exit,
#networks,
#backlight,
#mpd {
  padding: 0 8px;
  /* margin: 4px 6px 0px 6px; */
  /* border-radius: 6px; */
  /* border: 1px solid #4c4e57; */
  /* background-color: rgba(31, 31, 40, 1); */
  /* box-shadow: rgba(0, 0, 0, 0.30) 0px -4px 8px; */
}

#battery.ext {
  padding: 0 8px 0px 0px;
}

#idle_inhibitor {
  margin: 0px 0px 0px 8px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #dcd7ba;
}

.modules-left,
.modules-right,
.modules-center {
  min-height: 24px;
  /* padding: 0 8px; */
  margin: 4px 6px 0px 6px;
  border-radius: 6px;
  border: 1px solid #4c4e57;
  background-color: rgba(31, 31, 40, 1);
  /* box-shadow: rgba(0, 0, 0, 0.30) 0px -4px 8px; */
}

#window {
  font-weight: bold;
  /* padding: 0px 5px; */
}

#workspaces button {
  padding: 0 5px;
  color: #dcd7ba;
  border-top: 2px solid transparent;
}

#workspaces button.active {
  color: #e46876;
  border-top: 2px solid #e46876;
}

#workspaces button.focused {
  color: #e46876;
  border-top: 2px solid #e46876;
}

#mode,
#submap {
  border-top: 2px solid #c8c093;
}

#idle_inhibitor.deactivated {
  color: #585864;
}

#clock {
  font-weight: bold;
}

#battery icon {
  color: #c34043;
}

#battery.charging {
}

#battery.warning:not(.charging) {
  color: #dcd7ba;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #c34043;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background: transparent;
}
#pulseaudio-slider trough {
  min-height: 4px;
  min-width: 40px;
  border-radius: 5px;
  border: 1px #39394d solid;
  background: transparent;
}
#pulseaudio-slider highlight {
  border-radius: 5px;
  background: #d3ceb3;
}

#backlight-slider {
  padding: 0;
  margin: 0;
}
#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background: transparent;
}
#backlight-slider trough {
  min-height: 4px;
  min-width: 40px;
  border-radius: 5px;
  border: 1px #39394d solid;
  background: transparent;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: #d3ceb3;
}
