* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
}
#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c53b53;
    border-top: 2px solid #c53b53;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: #c53b53;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #c53b53;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

