* {
  border: none;
  border-radius: 0;
  font-family:
    Inter,
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 11px;
  font-weight: 500;
}

#workspaces,
#clock,
#batteries,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-media,
#custom-appmenu,
#mode,
#submap,
#custom-wofi-exit,
#networks,
#backlight,
#mpd,
#misc {
  padding: 0 8px;
  margin: 6px 6px 0px 6px;
  border-radius: 6px;
  border: 1px solid #4c4e57;
  background-color: rgba(31, 31, 40, 1);
  /* box-shadow: rgba(0, 0, 0, 0.30) 0px -4px 8px; */
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #dcd7ba;
}

.modules-left,
.modules-right,
.modules-center {
}

#window {
  font-weight: bold;
  padding: 0px 5px;
}

#workspaces button {
  padding: 0 5px;
  color: #dcd7ba;
  border-top: 2px solid transparent;
}

#workspaces button.active {
  color: #e46876;
  border-top: 2px solid #e46876;
}

#workspaces button.focused {
  color: #e46876;
  border-top: 2px solid #e46876;
}

#mode,
#submap {
  border-top: 2px solid #c8c093;
}

#battery,
#network,
#bluetooth,
#tray,
#idle_inhibitor {
  padding: 0 4px;
}

#idle_inhibitor.deactivated {
  color: #585864;
}

#clock {
  font-weight: bold;
}

#battery icon {
  color: #c34043;
}

#battery.charging {
}

/*@keyframes blink {*/
/*    to {*/
/*        background-color: #DCD7BA;*/
/*        color: #16161D;*/
/*    }*/
/*}*/

#battery.warning:not(.charging) {
  color: #dcd7ba;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network.disconnected {
  color: #c34043;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#hardware {
}
