* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
    background: transparent;
    color: #B4BDC3;
}

#window {
    font-weight: bold;
}
#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #B4BDC3;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    border-top: 2px solid #B4BDC3;
}

#mode {
    background: #302B29;
    border-bottom: 3px solid #B4BDC3;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: #DE6E7C;
}

#battery.charging {
}

/*@keyframes blink {*/
/*    to {*/
/*        background-color: #DCD7BA;*/
/*        color: #16161D;*/
/*    }*/
/*}*/

#battery.warning:not(.charging) {
    color: #888F94;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #DE6E7C;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

